* {
    margin: 0;
    padding: 2px;
    font-family: Roboto, sans-serif;
}

.box {
    margin: 0 auto;
    max-width: 80%;
}

.box-title {
    text-align: center;
    margin: 0 auto;
}

.decor {
    height: 66vh;
    width: 100%;
    margin: 8px;
    display: flex;
    border-radius: 8px;
}

.disLap,
.disShow {
    display: flex;
    font-size: 6rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disLap {
    background-color: red;
}

.disShow {
    background-color: #00ff95;
}

@media only screen and (max-width: 600px) {
    .box {
        max-width: 90%;
    }

    .box-title {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .disLap,
    .disShow {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .box {
        max-width: 85%;
    }

    .box-title {
        margin-left: 0;
        font-size: 2rem;
    }

    .disLap,
    .disShow {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 769px) {
    .box {
        max-width: 70%;
    }

    .box-title {
        margin-left: 30vh;
        font-size: 3rem;
    }

    .disLap,
    .disShow {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 1200px) {
    .box {
        max-width: 60%;
    }

    .box-title {
        margin-left: 30vh;
        font-size: 3rem;
    }

    .disLap,
    .disShow {
        font-size: 5rem;
    }
}
